{% comment %} 
Bloques:
    - title: Título de la página
    - content: Contenido de la página

{% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
    <header>
        <div class="container">
            <img src="{% static "Logo_autorizado_GC.png" %}" alt="Logo de GCDistribuidora">
            <nav>
                <p>Sistema de Inventario</p>
            </nav>
        </div>
    </header>
    {% block content %}{% endblock content %}
</body>
</html>