{% comment %} 
Bloques:
    - title: Título de la página
    - content: Contenido de la página

{% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="{% static "images/Logo-autorizado-GC.png" %}" alt="Logo de la empresa">
                <h2>Distribuidora</h2>
            </div>
            <div class="cuenta">
                {% if user.is_authenticated %}
                <img src="{% static "images/user.png "%}" alt="Imagen de usuario">
                <div class="user">
                        <p id="nombre">
                            {{ user.username }}
                        </p>
                        <form action="{% url "logout" %}" method="post">
                            {% csrf_token %}
                            <button type="submit" id="cerrar-sesion">Cerrar Sesión</button>
                        </form>
                {% else %}
                    <a href="{% url "login" %}">Iniciar Sesión</a>
                {% endif %}

                </div>
            </div>
        </div>
    </header>
    {% block content %}{% endblock content %}
</body>
</html>
