{% comment %} 
Bloques:
    - title: Título de la página
    - content: Contenido de la página

{% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    {% comment %} <link rel="stylesheet" href="{% static "css/base.css" %}"> {% endcomment %}
</head>
<body>
    <header>
        <div class="container">
            <img src="{% static "images/Logo_autorizado_GC.png" %}" alt="Logo de GCDistribuidora" class="logo">
            <div>
                <p>Inventario</p>
                <hr>
                {% comment %} <img src="{% static "images/image.png" %}" alt="Imagen de usuario" id="usuario-img">  {% endcomment %}
            </div>
        </div>
    </header>
    {% block content %}{% endblock content %}
</body>
</html>