{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/Compras.css" %}">
<section>
    <section class="general">
        <div class="container">
            <div class="buscador-y-botones">
                <a href="{% url "index" %}">
                    <button id="inventario">Inventario</button>
                </a>
                <a href="{% url "ventas" %}">
                    <button id="ventas">Ventas</button>
                </a>
                <a href="{% url "proveedores" %}">
                    <button id="proveedores">Proveedores</button>
                </a>
                <a href="#" onclick="window.modal.showModal();">
                    <button id="registro-compra">Registrar Compra</button>
                </a>

                <dialog class="modal" id="modal">
                    <form method="post" action="{% url 'registrar_compras' %}">
                        {% csrf_token %}
                        <div class="contenido">
                            <!-- Clave del producto -->
                            <label for="clave">Clave: <br></label>
                            <select name="clave" id="clave">
                                {% for producto in inventario %}
                                <option value="{{producto.producto.id_producto}}">{{ producto.producto.id_producto }}</option>
                                {% endfor %}
                            </select>
                            <br>
                                
                            <!-- Cantidad de productos -->
                            <label for="cantidad">Cantidad a ingresar: </label>
                            <input name="cantidad" type="number" id="cantidad"/>
                            <br>
                        </div>
                        <div class="boton-salida">
                            <input class="boton-input" type="submit" value="Generar Venta">
                            <button onclick="window.modal.close()">Cerrar</button>
                        </div>
                    </form>
                </dialog>

                <form method="get" action="">
                    <input id="buscador" name="buscador" type="search" placeholder="Buscar compra"/>
                </form>
                <div id="inventario-total">
                    <p>Total</p>
                    <hr>
                    <p id="total">${{ total_precio_unitario }}</p>
                </div>
            </div>

            <div class="tabla-compras">
                <table>
                    <tr>
                        <th>Producto</th>
                        <th>Categoría</th>
                        <th>Clave</th>
                        <th>Costo unitario</th>
                        <th>Fecha</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                    </tr>
                    {% for producto in inventario %}
                    <tr>
                        <td>{{ producto.producto.producto }}</td>
                        <td>{{ producto.producto.categoria }}</td>
                        <td>{{ producto.producto.id_producto }}</td>
                        <td>${{ producto.producto.precio_unitario }}</td>
                        <td>Fecha</td>
                        <td>{{ producto.producto.descripcion }}</td>
                        <td>{{ producto.cantidad }}</td>
                        <td>${{ producto.total }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
</section>
{% endblock %}