{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/Compras.css" %}">
<section>
    <section class="general">
        <div class="container">
            <div class="buscador-y-botones">
                <a href="{% url "index" %}">
                    <button id="inventario">Inventario</button>
                </a>
                <a href="{% url "ventas" %}">
                    <button id="ventas">Ventas</button>
                </a>
                <a href="{% url "proveedores" %}">
                    <button id="proveedores">Proveedores</button>
                </a>
                <a href="#" onclick="window.modal.showModal();">
                    <button id="registro-compra">Registrar Compra</button>
                </a>

                <dialog class="modal" id="modal">
                    <form method="dialog" action="#">
                        <div class="contenido">
                            Nombre Producto: <br>
                            <input name="nombre-prod" type="text" />
                            <br>
                            
                            {% comment %} <input name="clave-prod" type="text" /> {% endcomment %}
                            <label for="clave">Clave: <br></label>
                            <select name="clave" id="productos">
                                {% for producto in productos %}
                                <option value={{producto.id_producto}}>{{ proveedor.id_producto }}</option>
                                {% endfor %}
                            </select>
                            <br>
                            Precio de compra: <br>
                            <input name="precio-com" type="text" />
                            <br>
                            Descripción: <br>
                            <textarea name="desc" cols="30" rows="10"></textarea>
                            <br>
                            Precio sin IVA: <br>
                            <input name="precio-n-iva" type="text" />
                            <br>
                            Cantidad a ingresar: <br>
                            <input name="cant" type="text" />
                            <br>
                            <label for="categoria">Categoría: <br></label>
                            <select name="categoria" id="categorias">
                                {% for categoria in categorias %}
                                <option value={{ categoria.nombre }}>{{ categoria.nombre }}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <label for="proveedor">Proveedor: <br></label>
                            <select name="proveedor" id="proveedores">
                                {% for proveedor in proveedores %}
                                <option value={{proveedor.nombre}}>{{ proveedor.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="boton-salida">
                            <input class="boton-input" type="submit" value="Generar Venta">
                            <button onclick="window.modal.close()">Cerrar</button>
                        </div>
                    </form>
                </dialog>

                <form method="post" action="#">
                    <input id="buscador" name="buscador" type="search" placeholder="Buscar compra"/>
                </form>
                <div id="inventario-total">
                    <p>Total</p>
                    <hr>
                    <p id="total">$14,322.80</p>
                </div>
            </div>

            <div class="tabla-compras">
                <table>
                    <tr>
                        <th>Categoría</th>
                        <th>Clave</th>
                        <th>Costo unitario</th>
                        <th>Fecha</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                    </tr>
                    {% for compra in compras %}
                    <tr>
                        <td>{{ compra.categoria }}</td>
                        <td>{{ compra.producto.id_producto }}</td>
                        <td>{{ compra.producto.precio_unitario }}</td>
                        <td>{{ compra.fecha }}</td>
                        <td>{{ compra.descripcion }}</td>
                        <td>{{ compra.cantidad }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
</section>
{% endblock %}