{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/compras.css" %}">
<body>
    <section class="navegacion">
        <div class="container-body">
            <a href="{% url "ventas" %}">
                <button>Ventas</button>
            </a>
            <a href="{% url "proveedores" %}">
                <button>Proveedores</button>
            </a>
            <a href="{% url "index" %}">
                <button id="inventario">Inventario</button>
            </a>
        </div>
    </section>
    <section class="info-busqueda">
        <div class="container-body">
            <div class="izq">
                <form action="" method="get">
                    {% csrf_token %}
                    <input id="search" type="text" name="buscador" placeholder="Buscar Producto">
                    <input id="buscar" type="image" src="{% static "images/search.png" %}">
                </form>
                <button onclick="window.modal.showModal()">Registrar Compra</button>
                <button onclick="window.modal2.showModal()">Editar Informacion Compra</button>
            </div>
            <div class="totales">
                <div class="der">
                    <p id="total">Total Compras</p>
                    <p id="total">${{ total_precio_unitario }}</p>
                </div>
            </div>
        </div>
    </section>

    <dialog class="modal" id="modal">
        <div class="info-mod">
            <h2>Registrar Compra</h2>
            <form action="{% url 'registrar_compras' %}" method="post" class="editar">
                {% csrf_token %}
                
                <label for="clave">Clave: <br></label>
                <select name="clave" id="clave">
                {% for producto in inventario %}
                    <option value="{{producto.producto.id_producto}}">{{ producto.producto.id_producto }}</option>
                {% endfor %}
                </select>
                <br>

                <label for="cantidad">Cantidad: <br></label>
                <input name="cantidad" type="number" id="cantidad"/>
                <div class="actualizar">
                    <input type="submit" value="Registrar compra">
                </div>
            </form>
            <button onclick="window.modal.close()">Cerrar</button>
        </div>
    </dialog>

    <!--Queda pendiente esta seccion para implementar nueva funcionalidad-->
    <dialog class="modal" id="modal2">
        <div class="info-mod">
            <h2>Registrar Compra</h2>
            <form action="#" method="post" class="editar">
                <label for="editar">ID compra: <br></label>
                <select name="categoria-form" id="categoria-form">
                    <option value="no-101">101</option>
                    <option value="no-102">102</option>
                </select>
                <br>
                <label for="editar">Dato en tabla: <br></label>
                <select name="descripcion-form" id="descripcion-form">
                    <option value="categoria">Categoria</option>
                    <option value="precio unitario">Precio Unitario</option>
                </select>
                <br>
                <label for="cant-vieja">Valor anterior: <br></label>
                <h3>{Valor anterior}</h3>
                <br>
                <label for="cant-nueva">Nuevo valor: <br></label>
                <input type="text" id="cant-nueva">
                <div class="actualizar">
                    <input type="submit" value="Actualizar">
                </div>
            </form>
            <button onclick="window.modal2.close()">Cerrar</button>
        </div>
    </dialog>

    <section class="tabla">
        <table>
            <tr>
                <th>Producto</th>
                <th>Categoría</th>
                <th>Clave</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Costo Unitario</th>
                <th>Cantidad</th>
                <th>Total Compra</th>
            </tr>
            {% for producto in inventario %}
            <tr>
                <td>{{ producto.producto.producto }}</td>
                <td>{{ producto.producto.categoria }}</td>
                <td>{{ producto.producto.id_producto }}</td>
                <td>${{ producto.producto.precio_unitario }}</td>
                <td>Fecha</td>
                <td>{{ producto.producto.descripcion }}</td>
                <td>{{ producto.cantidad }}</td>
                <td>${{ producto.total }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
</body>
{% endblock %}