<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesion</title>

    <link rel="stylesheet" href="InicioSesion.css">
</head>
<body>
    <header>
        <div class="container">
            <img src="Logo autorizado GC.png" alt="Logo de GCDistribuidora" class="logo">
            <nav>
                <p>Sistema de Inventario</p>
            </nav>
        </div>
    </header>
    <section id="General">
        <div class="container">
            <h1>Iniciar Sesion</h1>
            <p>¿Desea registrar una cuenta?</p>
            <a href="Registro.html">Registrarse</a>
            
            <div class="input">
                <form method="post" action="#">
                    Usuario: <br>
                    <input name="usuario" type="text" />
                </form>
    
                <form method="post" action="#">
                    Contraseña: <br>
                    <input name="contraseña" type="password" />
                </form>
            </div>

            <button id="inicio-sesion">Iniciar Sesion</button>
        </div>
    </section>
</body>
</html>