<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    
    <link rel="stylesheet" href="inicio-sesion.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="banner">
                <h1>SISTEMA DE INVENTARIO</h1>
                <div class="logo">
                    <img src="Logo autorizado GC.png" alt="Logo de la empresa">
                    <h2>Distribuidora</h2>
                </div>
            </div>
            
            <div class="form">
                <h2>Inicio De Sesión</h2>
                <form action="#" class="ingreso-datos" method="post">
                    Usuario: <br>
                    <input name="usuario" type="text" />
                    <br>
                    Contraseña: <br>
                    <input name="contraseña" type="password" />
                    <div class="boton">
                        <input type="submit" value="Iniciar Sesion">
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>