{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/inventario.css" %}">
<body>    
    <section class="navegacion">
        <div class="container-body">
            <a href="{% url "ventas" %}">
                <button>Ventas</button>
            </a>
            <a href="{% url "compras" %}">
                <button id="compras">Compras</button>
            </a>
            <a href="{% url "proveedores" %}">
                <button>Proveedores</button>
            </a>
            <a href="{% url 'admin:index' %}">
                <button id="administrador">Administrador</button>
            </a>
        </div>
    </section>
    <section class="info-busqueda">
        <div class="container-body">
            <div class="izq">
                <form action="" method="get">
                    {% csrf_token %}
                    <input id="search" type="text" name="buscador" placeholder="Buscar Producto">
                    <input id="buscar" type="image" src="{% static "images/search.png" %}">
                </form>
            </div>
            
            <div class="der">
                <p>Total inventario</p>
                <p id="total">${{ total }}</p>
            </div>
        </div>
    </section>

    <section class="inventario-prin">
            <div class="productos-img">
                {% for producto in inventario %}
                <div class="Producto">
                    <a class="boton-info" href="#" onclick="document.getElementById('modal{{ forloop.counter }}').showModal();">
                        <img src="{% static "images/boton-de-informacion.png" %}" alt="" class="imagen">
                    </a>
                    
                    <img class="imagen" src="media-files/{{producto.producto.imagen}}" style="width: 65px; height: 65px"/>
                    <div class="Texto">
                        <p class="prod-nom">{{ producto.producto }}</p>
                        <p class="prod-pre-uni">Precio de compra: {{ producto.producto.precio_unitario }}</p>
                        <p class="prod-pre-ven">Precio de Venta: {{ producto.producto.precio_venta }}</p>
                        <p class="prod-stock">Stock {{ producto.cantidad }}</p>
                    </div>
                    <dialog class="modal" id="modal{{ forloop.counter }}">
                        <div class="info-mod">
                            <h2>{{ producto.producto.producto }}</h2>
                            <p>Clave: {{ producto.producto }}</p>
                            <p>Precio de compra: {{ producto.producto.precio_unitario }}</p>
                            <p>Inventario total: {{ producto.cantidad }}</p>
                            <p>Proveedor: {{ producto.producto.proveedor }}</p>
                            <button onclick="document.getElementById('modal{{ forloop.counter }}').close()">Cerrar</button>
                        </div>
                    </dialog>
                </div>
                {% endfor %}
            </div>
    </section>
</body>
{% endblock %}