{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/Proveedores.css" %}">
<section>
    <header>
        <div class="container">
            <img src="{% static "images/Logo_autorizado_GC.png" %}" alt="Logo de GCDistribuidora" class="logo">
            <div>
                <p>Inventario</p>
                <hr>
                <img src="{% static "images/image.png" %}" alt="Imagen de usuario" id="usuario-img" style="height:50px; width:50px">
                <nav>
                    <input type="checkbox" id="menu">
                    <label for="menu"> ☰ </label>
                    <ul>
                        <li>Link 1</li>
                        <li>Link 2</li>
                        <li>Link 3</li>
                        <li>Link 4</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section class="general">
        <div class="container">
            <div class="buscador-y-botones">
                <a href="{% url "index" %}">
                    <button id="inventario">Inventario</button>
                </a>
                <a href="{% url "ventas" %}">
                    <button id="ventas">Ventas</button>
                </a>
                <a href="{% url "compras" %}">
                    <button id="compras">Compras</button>
                </a>
                <a href="#" onclick="window.modal.showModal();">
                    <button id="registro-proveedor">Registrar nuevo proveedor</button>
                </a>

                <dialog class="modal" id="modal">
                    <form method="post" action="{% url "registrar_proveedor" %}">
                        {% csrf_token %}
                        <div class="contenido">
                            Nombre del Proveedor: <br>
                            <input name="nombre" type="text" />
                            <br>
                            Correo de contacto: <br>
                            <input name="email" type="text" />
                            <br>
                            Numero de contacto: <br>
                            <input name="telefono" type="number" max="9999999999" />
                            <br>
                        </div>
                        <div class="boton-salida">
                            <input class="boton-input" type="submit" value="Registrar contacto">
                            <button onclick="window.modal.close()">Cerrar</button>
                        </div>
                    </form>
                </dialog>

                <form method="get" action="">
                    <input id="buscador" name="buscador" type="search" placeholder="Buscar proveedor"/>
                </form>
            </div>

            <div class="tabla-ventas">
                <table>
                    <tr>
                        <th>Nombre</th>
                        {% comment %} <th>Productos</th> {% endcomment %}
                        <th>Correo</th>
                        <th>Telefono</th>
                    </tr>
                    {% for proveedor in proveedores %}
                    <tr>
                        <td>{{ proveedor.nombre }}</td>
                        {% comment %} <td>{{ proveedor.productos }}</td> {% endcomment %}
                        <td>{{ proveedor.email }}</td>
                        <td>{{ proveedor.telefono }}</td>
                    </tr>
                    {% endfor %}
                </table>

                {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">←</a>
                        {% endif %}
              
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        
                        {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">→</a>
                        {% endif %}
                    </span>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</section>
{% endblock %}