{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/Proveedores.css" %}">
<body>
    <section class="navegacion">
        <div class="container-body">
            <a href="{% url "compras" %}">
                <button>Compras</button>
            </a>
            <a href="{% url "ventas" %}">
                <button>Ventas</button>
            </a>
            <a href="{% url "index" %}">
                <button>Inventario</button>
            </a>
            <a href="{% url 'admin:index' %}">
                <button id="administrador">Administrador</button>
            </a>
        </div>
    </section>

    <section class="info-busqueda">
        <div class="container-body">
            <div class="izq">
                <form action="" method="get">
                    <input id="search" type="text" name="buscador" placeholder="Buscar Producto">
                    <input id="buscar" type="image" src="{% static "images/search.png" %}">
                </form>
            </div>
            <div class="totales">
                <button onclick="window.modal.showModal()">Registrar Proveedor</button>
                <button onclick="window.modal2.showModal()">Editar Informacion Proveedor</button>
            </div>
        </div>
    </section>

    <dialog class="modal" id="modal">
        <div class="info-mod">
            <h2>Registrar Proveedor</h2>
            <form action="{% url "registrar_proveedor" %}" method="post" class="editar">
                {% csrf_token %}

                <label for="nombre">Nombre: <br></label>
                <input type="text" name="nombre" id="nombre">
                <br>
                <label for="telefono">Telefono: <br></label>
                <input type="text" name="telefono" id="telefono">
                <br>
                <label for="email">Correo: <br></label>
                <input type="text" name="email" id="email">
                <div class="actualizar">
                    <input type="submit" value="Registrar Proveedor">
                </div>
            </form>
            <button onclick="window.modal.close()">Cerrar</button>
        </div>
    </dialog>

    <!-- Queda pendiente a actualizar estos campos con funcionalidad -->
    <dialog class="modal" id="modal2">
        <div class="info-mod">
            <h2>Editar Proveedor</h2>
            <form action="#" method="post" class="editar">
                <label for="editar">Nombre: <br></label>
                <select name="categoria-form" id="categoria-form">
                    <option value="Proveedor1">Esteren</option>
                    <option value="Proveedor2">Carls JR</option>
                </select>
                <br>
                <label for="editar">Dato de columna: <br></label>
                <select name="descripcion-form" id="descripcion-form">
                    <option value="Nombre">Nombre</option>
                    <option value="Telefono">Telefono</option>
                </select>
                <br>
                <label for="cant-vieja">Valor anterior: <br></label>
                <h3>{Valor anterior}</h3>
                <br>
                <label for="cant-nueva">Nuevo dato: <br></label>
                <input type="text" id="cant-nueva">
                <div class="actualizar">
                    <input type="submit" value="Editar">
                </div>
            </form>
            <button onclick="window.modal2.close()">Cerrar</button>
        </div>
    </dialog>

    <section class="tabla">
        <table>
            <tr>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Correo</th>
            </tr>
            {% for proveedor in proveedores%}
            <tr>
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.email }}</td>
                <td>{{ proveedor.telefono }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
</body>
{% endblock %}