{% extends "base.html" %}

{% block title %}Registro{% endblock title %}

{% block content %}
<section id="General">
    <div class="container">
        <h1>Registrar Cuenta</h1>
        <p>¿Ya cuenta con un perfil?</p>
        <a href="{% url 'inicio' %}">Iniciar Sesion</a>
        <!--Ocupo confirmar si esta vista iba a ser eliminada o no, o nada-->
        <div class="input">
            <form method="post" action="#">
                Nombre completo: <br>
                <input name="nombre" type="text" />
            </form>

            <form method="post" action="#">
                Nombre de usuario: <br>
                <input name="usuario" type="text" />
            </form>

            <form method="post" action="#">
                Contraseña: <br>
                <input name="contraseña" type="password" />
            </form>

            <form action="#" id="menu">
                <label for="user">Tipo de usuario: <br></label>
                <select name="tipo-usuario" id="tipo-user">
                    <option value="administrador">Administrador</option>
                    <option value="empleado" selected>Empleado</option>
                </select>
            </form>
        </div>

        <button id="inicio-sesion">Registrarse</button>
    </div>
</section>
{% endblock content %}