{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/ventas.css" %}">
<body>
    <section class="navegacion">
        <div class="container-body">
            <a href="{% url "compras" %}">
                <button>Compras</button>
            </a>
            <a href="{% url "proveedores" %}">
                <button>Proveedores</button>
            </a>
            <a href="{% url "index" %}">
                <button>Inventario</button>
            </a>
        </div>
    </section>

    <section class="info-busqueda">
        <div class="container-body">
            <div class="izq">
                <form action="#" method="get">
                    <input id="search" type="text" name="buscador" placeholder="Buscar Producto">
                    <input id="buscar" type="image" src="{% static "images/search.png" %}">
                </form>
                <button onclick="window.modal.showModal()">Registrar Venta</button>
            </div>
            <div class="totales">
                <div class="der">
                    <p id="total">Total inventario</p>
                    <p id="total_cant">$ {{ total_inventario }}</p>
                </div>
                <div class="der">
                    <p id="total-uti">Total Utilidades</p>
                    <p id="total_uti_cant">$ {{ total_utilidades }}</p>   
                </div>
            </div>
        </div>
    </section>

    <dialog class="modal" id="modal">
        <form method="post" action="#">
            {% csrf_token %}
            <div class="contenido">
                <div id="izq">
                    <form class="agregar" method="post" action="#">
                        <label for="editar">Categoria: <br></label>
                        <select name="categoria-form" id="categoria-form">
                        {% for categoria in categorias %}
                            <option value="nombre">{{ categoria.nombre }}</option>
                        {% endfor %}
                        </select>
                        <br>
                        <label for="editar">Nombre: <br></label>
                        <select name="descripcion-form" id="descripcion-form">
                            {% for producto in inventario %}
                            <option value="">{{ producto.producto.producto }}</option>
                            {% endfor %}
                        </select>
                        <div>
                            <input class="boton-input" type="submit" value="Agregar">
                        </div>
                    </form>
                </div>
                <div id="der">
                    <div class="recibo">
                        <table>
                            <tr>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                            </tr>
                            {% for producto in inventario %}
                            <tr>
                                <td>{{ producto.producto.producto }}</td>
                                <td>{{ producto.cantidad }}</td>
                                <td>{{ producto.producto.precio_venta }}</td>
                            </tr> 
                            {% endfor %}
                        </table>
                    </div>
                    <p id="titulo-total">Total a pagar:</p>
                        <div id="subtotal-mod">
                            <p>Subtotal:</p>
                            <p>$1,432.50</p>
                        </div>
                        <div id="total-mod">
                            <p>Total:</p>
                            <p>$1,689.50</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boton-salida">
                <input class="boton-input" type="submit" value="Generar Venta">
                <button onclick="window.modal.close()">Cerrar</button>
            </div>
        </form>
    </dialog>

    <section class="tabla">
            <table>
                <tr>
                    <th>Categoría</th>
                    <th>Producto</th>
                    <th>Clave</th>
                    <th>Costo unitario</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Utilidad</th>
                    <th>Precio de venta</th>
                    <th>Cantidad</th>
                    <th>Total Venta</th>
                </tr>
                {% for producto in inventario %}
                <tr>
                    <td>{{ producto.producto.categoria.nombre }}</td>
                    <td>{{ producto.producto.producto }}</td>
                    <td>{{ producto.producto.id_producto }}</td>
                    <td>${{ producto.producto.precio_unitario }}</td>
                    <td>Fecha</td>
                    <td>{{ producto.producto.descripcion }}</td>
                    <td>${{ producto.utilidad }}</td>
                    <td>${{ producto.producto.precio_venta }}</td>
                    <td>{{ producto.cantidad }}</td>
                    <td>${{ producto.total }}</td>
                </tr>
                {% endfor %}
            </table>
    </section>
</body>
{% endblock %}