{% extends "base.html" %}
{% block title %}Inventario{% endblock title %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "css/VentanaPrincipal.css" %}">
<section class="general">
    <div class="container">
        <div class="buscador-y-botones">
            <a href="Compras.html">
                <button id="compras">Compras</button>
            </a>
            <a href="Ventas.html">
                <button id="ventas">Ventas</button>
            </a>
            <a href="#">
                <button id="editar-existencias">Editar existencias</button>
            </a>
            <a href="#">
                <button id="proveedores">Proveedores</button>
            </a>
            <form method="post" action="#">
                <input id="buscador" name="buscador" type="text" placeholder="Buscar producto"/>
            </form>
            <div id="inventario-total">
                <p>Total Inventario</p>
                <hr>
                <p id="total">$14,322.80</p>
            </div>
        </div>

        <div class="categorias-y-productos">
            <div id="categorias-lista">
                <form id="categorias-check" method="get" action="#">
                    <div class="filtro">
                        <p id="titulo-categorias">Categorias</p>
                        <input id="boton-filtro" type="submit" value="Aplicar filtros">
                    </div>
                    <div class="cat">
                        <p class="categoria-ind">Categoria 1</p>
                        <input name="categoria1" type="checkbox" />
                    </div>
                    <div class="cat">
                        <p class="categoria-ind">Categoria 2</p>
                        <input name="categoria2" type="checkbox" />
                    </div>
                    <div class="cat">
                        <p class="categoria-ind">Categoria 3</p>
                        <input name="categoria3" type="checkbox" />
                    </div>
                </form>
            </div>
            <div id="productos">
                <div class="ubicacion-cat">
                    <a id="link-general" href="#">General</a>
                    <img id="right" src="{% static "images/right-arrow.png" %}" alt="conector a las categorias en la seccion de los productos">
                    <p>Categoria 1</p>
                </div>
                <div class="productos-img">
                    <div class="Producto">
                        <a class="boton-info" href="#" onclick="window.modal1.showModal();">
                            <img src="{% static "images/boton-de-informacion.png" %}" alt="">
                        </a>
                        <dialog class="modal" id="modal1">
                            <div class="info-mod">
                                <h2>Nombre producto</h2>
                                <p>Clave:</p>
                                <p>Precio de compra:</p>
                                <p>Precio sin IVA:</p>
                                <p>Descripcion:</p>
                                <div class="compras-ventas">
                                    <p>Compras:</p>
                                    <p>Ventas:</p>
                                </div>
                                <button onclick="window.modal1.close()">Cerrar</button>
                            </div>
                        </dialog>
                        <img class="imagen" src="{% static "images/image.png" %}" />
                        <div class="Texto">
                            <p class="prod-nom">Nombre</p>
                            <p class="prod-pre-ven">Precio de Venta</p>
                            <p class="prod-stock">Stock</p>
                            <p class="prod-val-inv">Valor Inventario</p>
                        </div>
                    </div>

                    <div class="Producto">
                        <a class="boton-info" href="#" onclick="window.modal2.showModal();">
                            <img src="boton-de-informacion.png" alt="">
                        </a>
                        <dialog class="modal" id="modal2">
                            <div class="info-mod">
                                <h2>Nombre producto</h2>
                                <p>Clave:</p>
                                <p>Precio de compra:</p>
                                <p>Precio sin IVA:</p>
                                <p>Descripcion:</p>
                                <div class="compras-ventas">
                                    <p>Compras:</p>
                                    <p>Ventas:</p>
                                </div>
                                <button onclick="window.modal2.close()">Cerrar</button>
                            </div>
                        </dialog>
                        <img class="imagen" src="image.png" />
                        <div class="Texto">
                            <p class="prod-nom">Nombre</p>
                            <p class="prod-pre-ven">Precio de Venta</p>
                            <p class="prod-stock">Stock</p>
                            <p class="prod-val-inv">Valor Inventario</p>
                        </div>
                    </div>

                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                    <div class="Producto"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}

{% comment %}

<body>
    
</body>
</html> {% endcomment %}
