{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/Ventas.css" %}">
<body>
    <section class="navegacion">
        <div class="container-body">
            <a href="{% url "compras" %}">
                <button>Compras</button>
            </a>
            <a href="{% url "proveedores" %}">
                <button>Proveedores</button>
            </a>
            <a href="{% url "index" %}">
                <button>Inventario</button>
            </a>
            <a href="{% url 'admin:index' %}">
                <button id="administrador">Administrador</button>
            </a>
        </div>
    </section>

    <section class="info-busqueda">
        <div class="container-body">
            <div class="izq">
                <!--Buscador-->
                <form action="#" method="get">
                    <input id="search" type="text" name="buscador" placeholder="Buscar Producto">
                    <input id="buscar" type="image" src="{% static "images/search.png" %}">
                </form>
                <button onclick="window.modal.showModal()">Registrar Venta</button>
            </div>
            <div class="totales">
                <div class="der">
                    <p id="total">Total inventario</p>
                    <p id="total-cant">{$15,999.90}</p>
                </div>
                <div class="der">
                    <p id="total-uti">Total Utilidades</p>
                    <p id="total-uti-cant">{$15,999.90}</p>
                </div>
            </div>
        </div>
    </section>

    <dialog class="modal" id="modal">
        <form method="post" action="#">
            <div class="contenido">
                <div id="izq">
                    <form class="agregar" method="post" action="#">
                        <label for="editar">Categoria: <br></label>
                        <select name="categoria-form" id="categoria-form">
                            {% for producto in productos %}
                            <option value=""></option>
                            {% endfor %}
                            <option value="Tampografia">Tampo</option>
                        </select>
                        <br>
                        <label for="editar">Nombre {Descripcion}: <br></label>
                        <select name="descripcion-form" id="descripcion-form">
                            <option value="Textil ahulada azul">Textil ahulada azul</option>
                            <option value="Vinil roja">Vinil roja</option>
                        </select>
                    </form>
                </div>
                <div id="der">
                    <p id="titulo-total">Total a pagar:</p>
                        <div id="subtotal-mod">
                            <p>Subtotal:</p>
                            <p>$1,432.50</p>
                        </div>
                        <div id="total-mod">
                            <p>Total:</p>
                            <p>$1,689.50</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boton-salida">
                <input class="boton-input" type="submit" value="Generar Venta">
                <button onclick="window.modal.close()">Cerrar</button>
            </div>
        </form>
    </dialog>

    <section class="tabla">
            <table>
                <tr>
                    <th>Categoría</th>
                    <th>Clave</th>
                    <th>Costo unitario</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Utilidad</th>
                    <th>Precio de venta</th>
                    <th>Cantidad</th>
                    <th>Total Venta</th>
                </tr>
                <tr>
                    <td>Textil Ahulada/GMS</td>
                    <td>G512</td>
                    <td>$18.50</td>
                    <td>10/10/10</td>
                    <td>Lorem ipsum</td>
                    <td>$20.6</td>
                    <td>$20.6</td>
                    <td>5</td>
                    <td>$120.6</td>
                </tr>
                <tr>
                    <td>Textil Ahulada/GMS</td>
                    <td>G512</td>
                    <td>$18.50</td>
                    <td>10/10/10</td>
                    <td>Lorem ipsum</td>
                    <td>$20.6</td>
                    <td>$20.6</td>
                    <td>5</td>
                    <td>$120.6</td>
                </tr>
                <tr>
                    <td>Textil Ahulada/GMS</td>
                    <td>G512</td>
                    <td>$18.50</td>
                    <td>10/10/10</td>
                    <td>Lorem ipsum</td>
                    <td>$20.6</td>
                    <td>$20.6</td>
                    <td>5</td>
                    <td>$120.6</td>
                </tr>
            </table>
    </section>
</body>
{% endblock %}