{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/Ventas.css" %}">
<body>
    <div style="background-color: whitesmoke;">
        {% if messages %}
            {% for message in messages %}
                <h2>{{message}}</h2>
            {% endfor %}
        {% endif %}
    </div>

    <section class="navegacion">
        <div class="container-body">
            <a href="{% url "compras" %}">
                <button>Compras</button>
            </a>
            <a href="{% url "proveedores" %}">
                <button>Proveedores</button>
            </a>
            <a href="{% url "index" %}">
                <button>Inventario</button>
            </a>
            <a href="{% url 'admin:index' %}">
                <button id="administrador">Administrador</button>
            </a>
        </div>
    </section>

    <section class="info-busqueda">
        <div class="container-body">
            <div class="izq">
                <!--Buscador-->
                <form action="#" method="get">
                    <input id="search" type="text" name="buscador" placeholder="Buscar Producto">
                    <input id="buscar" type="image" src="{% static "images/search.png" %}">
                </form>
                <button onclick="window.modal.showModal()">Registrar Venta</button>
                <button onclick="window.modal2.showModal()" style="margin-left: 15px">Editar Informacion Venta</button>

            </div>
            <div class="totales">
                <div class="der">
                    <p id="total">Total ventas</p>
                    <p id="total_cant">$ {{ total_ventas }}</p>
                </div>
                <div class="der">
                    <p id="total-uti">Total Utilidades</p>
                    <p id="total_uti_cant">$ {{ total_utilidades }}</p>   
                </div>
            </div>
        </div>
    </section>

    <dialog class="modal" id="modal">
        <div class="info-mod">
            <h2>Registrar Venta</h2>
            <form action="{% url "registrar_salida" %}" method="post" class="editar">
                {% csrf_token %}

                <label for="clave">Clave: <br></label>
                <select name="clave" id="clave">
                {% for producto in productos %}
                    <option value="{{producto.id_producto}}">{{ producto.id_producto }}</option>
                {% endfor %}
                </select>
                <br>

                <label for="cantidad">Cantidad: <br></label>
                <input name="cantidad" type="number" id="cantidad"/>
                
                <div class="actualizar">
                    <input type="submit" value="Registrar Venta">
                </div>
            </form>
            <button onclick="window.modal.close()" style="margin-left: 120px">Cerrar</button>
        </div>
    </dialog>

    <dialog class="modal" id="modal2">
        <div class="info-mod">
            <h2>Actualizar Venta</h2>
            <form action="{% url "actualizar_ventas" %}" method="post" class="editar">
                {% csrf_token %}
                <label for="editar">ID venta: <br></label>
                <select name="salida-editar" id="categoria-form">
                    {% for salida in ventas_usuario %}
                    <option value={{salida.id_salida}}>{{salida.id_salida}}</option>
                    {% endfor %}                    
                </select>
                <br>
                <label for="editar">Cantidad nueva: <br></label>
                <input name="cantidad-nueva" type="number" id="cantidad"/>
                <div class="actualizar">
                    <input type="submit" value="Actualizar">
                </div>
            </form>
            <button onclick="window.modal2.close()" style="margin-left: 120px">Cerrar</button>
        </div>
    </dialog>

    <section class="tabla">
            <table>
                <tr>
                    <th>Empleado</th>
                    <th>Producto</th>
                    <th>Clave</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Utilidad</th>
                    <th>Precio de venta</th>
                    <th>Cantidad</th>
                    <th>Total Venta</th>
                </tr>
                {% for venta in Salidas %}
                <tr>
                    <td>{{ venta.empleado }}</td>
                    <td>{{ venta.producto.producto }}</td>
                    <td>{{ venta.producto.id_producto }}</td>
                    <td>{{ venta.fecha|date:"d F y" }}</td>
                    <td>{{ venta.producto.descripcion }}</td>
                    <td>${{ venta.utilidad }}</td>
                    <td>${{ venta.producto.precio_venta }}</td>
                    <td>{{ venta.cantidad }}</td>
                    <td>${{ venta.total }}</td>
                </tr>
                {% endfor %}
            </table>
    </section>
</body>
{% endblock %}