*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}

button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 15px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: black;
    background-color: #f27506;
}

button:hover{
    background-color: #ff8c2e;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: #f27506;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

header .logo{
    margin: 0;
    height: 50px;
    width: 50px;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
}

section div{
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section a{
    margin: 5px 0px;
}

section h1, p{
    margin: 0;
}

section a, p{
    font-size: 1em;
}

section .input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left;
}

section input{
    font-size: 1.25em;
    padding: 10px 25px;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: #bdbec0;
}

.cuenta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}