*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
hr{border-color: black;}

button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 15px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: black;
    background-color: #f27506;
}

button:hover{
    background-color: #ff8c2e;
    cursor: pointer;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: #f27506;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

#usuario-img{
    height: 50px;
    width: 50px;
}

header hr{
    height: 50px;
    margin: 0px 15px;
}

header .logo{
    height: 50px;
    width: 50px;
}

nav{
    margin-left: 10px;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15em;
    font-weight: bold;
}

ul{
    display: none;
    padding: 0;
    margin: 0;
    width: 200px;
    position: absolute;
}

input:checked  ~ ul{
    display:block;
}

input {
    display: none;
}

label {
    box-sizing: border-box;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

/* Estilo del boton cuando se pasa el mouse por encima*/
label:hover{
    background: whitesmoke;
}

/* Estilo del boton cuando el menú está expandido*/
input:checked ~ label {
    background: rgb(255, 255, 255); 
    color: black;
}

li {
    display: block;
    background: rgb(0, 0, 0);
    color: whitesmoke;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
li:hover {
    background: whitesmoke;
    color: black;
    cursor: pointer;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(237, 237, 237);
}

section .container{
    border: solid black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    margin: 100px 0px;
    background-color: #f29e03;
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    max-height: 1400px;
}

.buscador-y-botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: solid 2px black;
}

.buscador-y-botones button{
    margin-right: 10px;
}

input{
    font-size: 1.25em;
    padding: 10px 25px;
    border-radius: 15px;
    background-color: #bdbec0;
}

#buscador{
    background-image: url(search.png);
    background-position: 10px;
    background-size: 25px;
    background-repeat: no-repeat;
    text-indent: 20px;
}

#inventario-total{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    background-color: #f27506;
    padding: 10px;
    border: solid 2px #a04e06d3;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#inventario-total p{
    margin: auto;
}

#inventario-total hr{
    width: 150px;
}

.categorias-y-productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: inherit;
    max-height: 740px;
}

.categorias-y-productos p{
    margin: auto;
    display: flex;
    flex-direction: column;
}

.categorias-y-productos input{
    margin: auto;
    font-size: 1.25em;
}

.categorias-y-productos form{
    display: flex;
    flex-direction: column;
}

#categorias-lista{
    margin-right: 100px;
    padding-top: 20px;
}

.filtro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

#boton-filtro{
    margin-left: 20px;
    width: fit-content;
    font-size: 1em;
    font-weight: bold;
    padding: 8px 8px;
    border-radius: 15px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: black;
    background-color: #f27506;
}

#boton-filtro:hover, #link-general:hover{
    background-color: #ff8c2e;
    cursor: pointer;
}

.cat{
    display: flex;
    flex-direction: row;
}

#titulo-categorias{
    font-weight: bold;
    margin: auto;
}

#productos{
    padding: 20px 20px;
    overflow: scroll;
    border-left: solid 2px black;
}

.categoria-ind{
    font-size: 1.05em;
}

.ubicacion-cat{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.ubicacion-cat a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.05em;
    background-color: #f27506;
    border: solid 2px #a04e06d3;
    border-radius: 15px;
    padding: 5px;
    margin-right: 15px;
}

.ubicacion-cat p{
    font-size: 1.05em;
    font-weight: 600;
    margin-left: 0px;
}

#right{
    height: 10px;
    margin-right: 15px;
}

.productos-img{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-content: start;
    gap: 20px;
}

.Producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto; 
    height: auto; 
    background: #F27506; 
    border-radius: 10px;
    padding: 25px 35px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.boton-info{
    position:relative;
    width: 15px;
    left: 70px;
    top: -15px;
    margin-bottom: -20px;
}

.boton-info img{
    width: 23px;
}

.imagen{
    width: 120px; 
    height: 120px;
    margin-bottom: 10px;
}

.Texto{
    justify-content: center;
    font-size: .75em;
    font-weight: 500;
    text-align: center;
}

.info-mod{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-mod p{
    margin-bottom: 5px;
}

.compras-ventas{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 20px;
}

.modal{
    z-index: -1;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: #f29e03;
    padding: 40PX;
    border-radius: 20PX;
}

.modal::backdrop{
    background-color: rgba(0, 0, 0, 0.352);
}

.modal button{
    background-color: #ff0c0c;
    color: white;
}

.modal button:hover{
    background-color: #ff2e2e;
    color: black;
    cursor: pointer;
}

.modal h2{
    margin: 0px 0px 25px 0px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 0px;
}
    
::-webkit-scrollbar-thumb {
    border: solid 2px white;
    border-radius: 10px;
    background: #ccc;  
}
    
::-webkit-scrollbar-thumb:hover {
    background: #999;  
}
